.DS_Store
target/

### Nodejs ###
node_modules/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### other local docs 
references/
articles/
tmp/
specs/

### cursor rules
.cursorrules
.cursor

### junie
.junie

### Gradle ###
.gradle

### Kotlin ###
.kotlin
bin/
out/

### Docs ###
webHelpDOCS2-all.zip
webHelpDOCS2-all/

### Local configuration files
/.lemline.yaml

### Qarkus ###
.quarkus/

### Oh-my-openclaude ###
.omc

### BMad ###
_bmad/
_bmad-output/

docs/roadmap/
docs/plans/
docs/features/
docs/tmp/

**/certs/
